.container{
    height: 215px;
    width: 100%;
    background-color: yellow;
    border: 2px solid red;
    
}

.box{
    height: 212px;
    width: 212px;
    border: 2px solid green;
    background-color: aqua;
    animation-name: krishna;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-direction: normal;
    /* animation-fill-mode: ; */






}

@keyframes krishna {
    form{
        width: 21px;
    }
    to{
        width: 800px;
    }
}